@use "sass:map";

$easings: (
    "elastic": cubic-bezier(.19, 1, .22, 1),
    "material": cubic-bezier(.4, 0, .2, 1),
);

$easing: map.get($easings, "material");

$grid-breakpoints: (
    xs: 0,
    sm3: 375px,
    sm2: 425px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xl2: 1366px,
    xxl: 1440px
);